html,
body {
	height: 100%; 
	padding: 0; 
	margin: 0;
	width:100%;
}

.graphical {
	height: 100%; 
	padding: 0 0 0; 
	border-color: black;
}



.graphical-head{display:inline-table-cell;position:absolute;top:0;left:0;height:155px;right:0;background-color:#F5F5F5;overflow:auto;text-align:center;-webkit-transition:-webkit-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);-moz-transition:-moz-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);-o-transition:-o-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);-ms-transition:-ms-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);transition:transform 500ms cubic-bezier(0.13,0.66,0.24,0.92)}
#fs_id_1{display:inline-table-cell;position:absolute;top:0;left:0;width:550px;overflow:auto;text-align:left;}
#fs_id_2{display:inline-table-cell;position:absolute;top:0;left:555px;right:0;overflow:auto;text-align:center;-webkit-transition:-webkit-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);-moz-transition:-moz-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);-o-transition:-o-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);-ms-transition:-ms-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);transition:transform 500ms cubic-bezier(0.13,0.66,0.24,0.92)}

#svg_editor{background:#F5F5F5}
#rulers>div{position:absolute;background:#F5F5F5;z-index:1;overflow:hidden;-webkit-font-smoothing:none}
#rulers #ruler_corner{top:155px;left:50px;width:15px;height:15px;border:solid #444 1px;z-index:2}
#ruler_x{height:15px;top:155px;left:66px;right:175px;border-top:solid #444 1px;border-right:solid #444 1px}
#ruler_x_cursor{height:15px;border-right:dotted #999 1px;position:absolute;background:#F5F5F5}
#ruler_y_cursor{width:15px;border-top:dotted #999 1px;position:absolute;background:#F5F5F5}
#ruler_y{width:15px;top:170px;left:50px;bottom:40px;border-left:solid #444 1px;border-bottom:solid #444 1px}

.context_panel{display:none}

.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}

#tools_left{position:absolute;border-right:0;width:50px;top:155px;bottom:0;left:0;background:#F5F5F5;z-index:4}
.tool_button{position:absolute;width:26px;height:26px;z-index:0;}/* border:solid #2f2f2c 2px; */
#tool_select{top:3px;left:10px;}
#tool_text{top:40px;left:10px;}
.tool_button_current{background-color:#ff0080;position:absolute;width:26px;height:26px;z-index:0;}

#tools_bottom{position:absolute;left:50px;right:0;bottom:0;height:40px;overflow:visible;background:#F5F5F5}

div#workarea{display:inline-table-cell;position:absolute;top:170px;left:50px;bottom:40px;right:175px;background-color:#c0c0c0;overflow:auto;text-align:center;-webkit-transition:-webkit-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);-moz-transition:-moz-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);-o-transition:-o-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);-ms-transition:-ms-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);transition:transform 500ms cubic-bezier(0.13,0.66,0.24,0.92)}

div#property{position:absolute;border-right:0;width:175px;top:155px;bottom:0;right:0;background:#F5F5F5;z-index:4}

/* windowcss */

  #light {
            background-color: red;
            border: solid 1px #ccc;
            position: absolute;
            display: none;
            width: 800px;
            height: 600px;            padding: 5px;       
            top: 40px;
            left: 64px;
        }

